body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modalBtn {
  outline: none;
}

.modal {
  /* display: none; */
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  color: darkgray;
  border: 1px solid gray;
  border-radius: 1px;
  width: 25%;
  margin: 15% auto;
  padding: 20px;
}

.close {
  color: gray;
  float: right;
  font-size: 24px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: greenyellow;
  text-decoration: none;
  cursor: pointer;
}
